
h1 {
    color: blue;
    font-style: italic;
    text-shadow: yellowgreen 1px 0 10px;
}
h2 {
    font-style: italic;
    border-left: solid yellowgreen 15px;
    border-top: solid yellowgreen 10px;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    text-decoration: none;
}